{% extends "base.html" %}
{% load static %}

{% block main %}
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                {% for item in hero_serials %}
                    <div class="hero__items set-bg" data-setbg="{{ item.image.url }}">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="hero__text">
                                    <h2>{{ item.title }}</h2>
                                    <p>{{ item.title }}</p>
                                    <a href="{{ item.get_absolute_url }}"><span>Watch Now</span> <i
                                            class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url "serial:serials_list" %}" class="primary-btn">View All <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for serial in serials %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                             data-setbg="{{ serial.image.url }}">
                                            <div class="ep">{{ serial.serial_episodes.count }} EP</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                {% if serial.status == True %}
                                                    <li>Active</li>
                                                {% else %}
                                                    <li>not played</li>
                                                {% endif %}
                                                {% for type in serial.type.all %}
                                                    <li>{{ type.name }}</li>
                                                {% endfor %}
                                            </ul>
                                            <h5><a href="{{ serial.get_absolute_url }}">{{ serial.title }}</a></h5>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url "serial:serials_list" %}" class="primary-btn">View All <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for popular in popular_serial %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                             data-setbg="{{ popular.image.url }}">
                                            <div class="ep">{{ popular.serial_episodes.count }} EP</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                {% if popular.status == True %}
                                                    <li>Active</li>
                                                {% else %}
                                                    <li>not played</li>
                                                {% endif %}
                                                {% for type in popular.type.all %}
                                                    <li>{{ type.name }}</li>
                                                {% endfor %}
                                            </ul>
                                            <h5><a href="{{ popular.get_absolute_url }}">{{ popular.title }}</a></h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Recently Added Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url "serial:serials_list" %}" class="primary-btn">View All <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for recent_serial in recent_serials %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                             data-setbg="{{ recent_serial.image.url }}">
                                            <div class="ep">{{ recent_serial.serial_episodes.count }} EP</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                {% if recent_serial.status == True %}
                                                    <li>Active</li>
                                                {% else %}
                                                    <li>not played</li>
                                                {% endif %}
                                                {% for type in recent_serial.type.all %}
                                                    <li>{{ type.name }}</li>
                                                {% endfor %}
                                            </ul>
                                            <h5>
                                                <a href="{{ recent_serial.get_absolute_url }}">{{ recent_serial.title }}</a>
                                            </h5>

                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="live__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Live Action</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="{% url "serial:serials_list" %}" class="primary-btn">View All <span
                                            class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for live_action in serial_live_action %}
                                <div class="col-lg-4 col-md-6 col-sm-6">
                                    <div class="product__item">
                                        <div class="product__item__pic set-bg"
                                             data-setbg="{{ live_action.image.url }}">
                                            <div class="ep">{{ live_action.serial_episodes.count }} EP</div>
                                        </div>
                                        <div class="product__item__text">
                                            <ul>
                                                {% if live_action.status == True %}
                                                    <li>Active</li>
                                                {% else %}
                                                    <li>not played</li>
                                                {% endif %}
                                                {% for type in live_action.type.all %}
                                                    <li>{{ type.name }}</li>
                                                {% endfor %}
                                            </ul>
                                            <h5><a href="{{ live_action.get_absolute_url }}">{{ live_action.title }}</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </section>

{% endblock %}


