{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% include "includes/head_site.html" %}
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Login</h3>
                        {% if form.errors %}
                            {% for error in form.username.errors %}
                                <p class="alert alert-danger">{{ error }}</p>
                            {% endfor %}
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                {{ form.username }}
                                <span class="icon_profile"></span>
                            </div>
                            <div class="input__item">
                                {{ form.password }}
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Login</button>
                        </form>
                        <a href="{% url "account:password_reset" %}" class="forget_pass">Forgot Your Password?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Dont’t Have An Account?</h3>
                        <a href="{% url "account:register" %}" class="primary-btn">Register Now</a>
                    </div>
                </div>
            </div>
            <div class="login__social">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-6">
                        <div class="login__social__links">
                            <span>or</span>
                            <ul>
                                <li><a href="#" class="google"><i class="fa fa-google"></i> Sign in With Google</a></li>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
{% endblock %}