{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% include "includes/head_site.html" %}
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form text text-white">
                        <h3>Successfully</h3>
                        <p>you can sign in now!</p>
                        <a href="{% url "account:login" %}" class="text text-warning">LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
{% endblock %}