{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% include "includes/head_site.html" %}
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Reset Password</h3>
                        <form method="post">
                            {% csrf_token %}
                            <div class="input__item">
                                {{ form.email }}
                                <span class="icon_mail"></span>
                            </div>
                            <button type="submit" class="site-btn">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
{% endblock %}