{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% include "includes/head_site.html" %}
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Reset Done</h3>
                        <p class="text text-white">check your Email, We send it</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
{% endblock %}