{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% include "includes/head_site.html" %}
    <!-- Normal Breadcrumb End -->

    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <form method="post" class="text text-white">
                            {% csrf_token %}
                            <h2 class="text text-white">Enter your new password</h2>
                            <hr>
                            {% if form.errors %}
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p class="alert alert-danger text text-dark">{{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}
                            {{ form.new_password1.label }}
                            <div class="input__item">
                                {{ form.new_password1 }}
                                <span class="icon_mail"></span>
                            </div>
                            {{ form.new_password2.label }}
                            <div class="input__item">
                                {{ form.new_password2 }}
                                <span class="icon_mail"></span>
                            </div>
                            <button type="submit" class="site-btn">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->
{% endblock %}