{% extends "base.html" %}
{% load static %}


{% block main %}
    {% include "includes/head_site.html" %}
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form text-white">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input__item">
                                {{ form.email }}
                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                {{ form.username }}
                                <span class="icon_profile"></span>
                            </div>
                            {{ form.profile_image }}

                            <button type="submit" class="site-btn">Done</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}